<a href="https://colab.research.google.com/github/RioDeMilo/Data-analysis-with-python-projects/blob/main/Demographic_Data_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/adult.data.csv')
race_count = df['race'].value_counts() #value_counts( count every repeated value in the dataset) and it is a panda series

In [ ]:

def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv(adult.data.csv)

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()

    # What is the average age of men?
    average_age_men =  men = df['sex'] == 'Male'
    df.loc[men,'age'].mean()

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = df['education'].value_counts()['Bachelors'] / df['education'].count()

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = None
    lower_education = None

    # percentage with salary >50K
    higher_education_rich = None
    lower_education_rich = None

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = None

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = None

    rich_percentage = None

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = None
    highest_earning_country_percentage = None

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = None

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [ ]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
 men = df['sex'] == 'Male'

 df.loc [men,'age'].mean()

39.43354749885268

In [ ]:
# here i wnated to see wich num correspond to each education tittle
df[['education', 'education-num']].value_counts()

education     education-num
HS-grad       9                10501
Some-college  10                7291
Bachelors     13                5355
Masters       14                1723
Assoc-voc     11                1382
11th          7                 1175
Assoc-acdm    12                1067
10th          6                  933
7th-8th       4                  646
Prof-school   15                 576
9th           5                  514
12th          8                  433
Doctorate     16                 413
5th-6th       3                  333
1st-4th       2                  168
Preschool     1                   51
dtype: int64

In [ ]:
# the normalize = true gives us the % distribution of the data type i created a mask first to filter the salary and then with that database = G50 and sum the wanted % 
G50 = (df['salary'] == '<=50K') 
G50 = df.loc[G50,'education'].value_counts(normalize=True)
G50.loc[['Bachelors','Masters','Doctorate']].sum()

0.16201456310679613

In [ ]:
C50 = ((df['salary'] == '>50K') & df['native-country'])
df.loc[C50,'native-country'].value_counts()

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [ ]:
df[((df['salary'] == '>50K') & df['native-country'])]

age  workclass     fnlwgt  education     education-num  marital-status      occupation         relationship    race   sex     capital-gain  capital-loss  hours-per-week  native-country  salary
38   Private       207202  HS-grad       9              Married-civ-spouse  Machine-op-inspct  Husband         White  Male    0             0             48              United-States   >50K      2
42   Private       204235  Some-college  10             Married-civ-spouse  Prof-specialty     Husband         White  Male    0             0             40              United-States   >50K      2
19   ?             200790  12th          8              Married-civ-spouse  ?                  Other-relative  White  Female  15024         0             40              United-States   >50K      1
48   Self-emp-inc  181307  HS-grad       9              Married-civ-spouse  Craft-repair       Husband         White  Male    0             0             60              United-States   >50K      1
                   382242  Doctorate     16             Married-civ-spouse  Exec-managerial    Wife            White  Female  0             0             40              United-States   >50K      1
                                                                                                                                                                                                   ..
39   Private       99270   Bachelors     13             Married-civ-spouse  Prof-specialty     Wife            White  Female  0             0             50              Germany         >50K      1
                   99146   Masters       14             Married-civ-spouse  Prof-specialty     Husband         White  Male    0             0             40              ?               >50K      1
                   99065   Bachelors     13             Married-civ-spouse  Handlers-cleaners  Wife            White  Female  0             0             40              Poland          >50K      1
                   98941   Bachelors     13             Never-married       Prof-specialty     Not-in-family   White  Male    0             0             40              United-States   >50K      1
90   Private       206667  Masters       14             Married-civ-spouse  Prof-specialty     Wife            White  Female  0             0             40              United-States   >50K      1
Length: 7839, dtype: int64

In [ ]:
C50 = (df['salary'] == '>50K'), 
C50 = df.loc[C50,'native-country'].value_counts()

C50

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [ ]:


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('/content/adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts() #value_counts( count every repeated value in the dataset) and it is a panda series

    # What is the average age of men?
    average_age_men =  men = (df['sex'] == 'Male')
    df.loc[men,'age'].mean() # we need to use iloc to put two differenet avlues from two columns specified

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = df['education'].value_counts()['Bachelors'] / df['education'].count() # here we count every value of Bachelors and divide by the total of education

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`

    higher_education = G50 = (df['salary'] == '>50K') 
    G50 = df.loc[G50,'education'].value_counts(normalize=True)
    G50.loc[['Bachelors','Masters','Doctorate']].sum()

    lower_education = G50 = (df['salary'] == '<=50K') 
    G50 = df.loc[G50,'education'].value_counts(normalize=True)
    G50.loc[['Bachelors','Masters','Doctorate']].sum()

    # percentage with salary >50K
    # here it is more easy to use the iloc function than to make a mask 'boleaan'
    higher_education_rich = df.loc[df['salary']=='>50K',['salary']].count() / df['salary'].count()

    lower_education_rich = df.loc[df['salary']=='<=50K',['salary']].count() / df['salary'].count()


    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    # we created a dataframe with two conditions and then sum all the resulting rows then / by the total of min hours
    # in the numminworkers i used the result of the min avlue inssst3e4ad of putting the value itself

    num_min_workers = (df['hours-per-week'] ==  min_work_hours ).sum()



    rich_percentage = min =(((df['hours-per-week'] == min_work_hours)) & (df['salary'] == '>50K' )).sum()  / (df['hours-per-week'] == min_work_hours ).sum()


    # What country has the highest percentage of people that earn >50K?
    # using mask we revelaed the >50k workers and then count every country worker and then extract the max value but with the index and not the value itself
    highest_earning_country = C50 = (df['salary'] == '>50K')
    C50 = df.loc[C50,'native-country'].value_counts()
    print(C50.idxmax())
    highest_earning_country_percentage = None

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = None

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }