<a href="https://colab.research.google.com/github/RioDeMilo/Data-analysis-with-python-projects/blob/main/Demographic_Data_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/adult.data.csv')

In [ ]:

def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()

    # What is the average age of men?
    average_age_men = (df.query("sex== 'Male'")['age'].mean()).round(1)

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = (df['education'].value_counts()['Bachelors'] * 100 / df['education'].count()).round(1)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = df['education'].isin(['Masters','Bachelors','Doctorate'])
    lower_education = ~higher_education

    # percentage with salary >50K
    higher_education_rich = ((((df['salary'] =='>50K') & higher_education).sum()) * 100 / higher_education.sum()).round(1)
    lower_education_rich = ((((df['salary'] =='>50K') & lower_education).sum()) * 100 / lower_education.sum()).round(1)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = (df['hours-per-week'] ==  min_work_hours ).sum()

    rich_percentage = ((((df['hours-per-week'] == min_work_hours)) & (df['salary'] == '>50K' )).sum() *100 / (df['hours-per-week'] == min_work_hours ).sum())

    # What country has the highest percentage of people that earn >50K?
    high_income_co = (df.groupby('native-country')['salary'].apply(lambda x: (x=='>50K').mean()))
    highest_earning_country = high_income_co.idxmax()
    highest_earning_country_percentage = highest_earning_country_percentage = (high_income_co.max() * 100).round(1)
    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')].value_counts('occupation').idxmax()

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [ ]:
higher_education = df['education'].isin(['Masters','Bachelors','Doctorate'])
lower_education = df[~df[['education'].isin(['Masters','Bachelors','Doctorate'])]

SyntaxError: ignored

In [ ]:
lowwer_education = df[~df['education'].isin(['Masters','Bachelors','Doctorate'])]
lower_education
lower_education = df[~df['education'].isin(['Masters','Bachelors','Doctorate'])]
lower_education

NameError: ignored

In [12]:
higher_education = df['education'].isin(['Masters','Bachelors','Doctorate'])
lower_education = ~higher_education

higher_education_rich = ((((df['salary'] =='>50K') & higher_education).sum()) * 100 / higher_education.sum()).round(1)
lower_education_rich = ((((df['salary'] == '>50K') & lower_education).sum()) * 100 / lower_education.sum()).round(1)
lower_education_rich

17.4

0        False
1        False
2         True
3         True
4        False
         ...
32556     True
32557     True
32558     True
32559     True
32560     True
Name: education, Length: 32561, dtype: bool

In [ ]:
# the normalize = true gives us the % distribution of the data type i created a mask first to filter the salary and then with that database = G50 and sum the wanted % 
G50 = (df['salary'] == '<=50K') 
G50 = df.loc[G50,'education'].value_counts(normalize=True)
G50.loc[['Bachelors','Masters','Doctorate']].sum()

0.16201456310679613

In [ ]:
df[(df['salary'] == '>50K')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
 df[(df['salary'] == '>50K') & (df['native-country'] == 'India')].value_counts('occupation').idxmax()

'Prof-specialty'

In [ ]:
high_income_co = (df.groupby('native-country')['salary'].apply(lambda x: (x=='>50K').mean()))
highest_earning_country = high_income_co.idxmax()
highest_earning_country_percentage = (high_income_co.max() * 100).round(1)
highest_earning_country_percentage

41.9

In [ ]:
highest_earning_country = (df.groupby('native-country')['salary'].apply(lambda x: (x=='>50K').sum())).idxmax()
highest_earning_country_percentage = (df.groupby('native-country')['salary'].apply(lambda x: (x=='>50K').sum())).max() / (df.groupby('native-country')['salary'].apply(lambda x: (x=='>50K'))).sum()
highest_earning_country

In [ ]:


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('/content/adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts() #value_counts( count every repeated value in the dataset) and it is a panda series

    # What is the average age of men?
    # with the query option i can extract info from a given column and show the values in another column witouth a mask

    average_age_men =  df.query("sex== 'Male'")['age'].mean()
    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = df['education'].value_counts()['Bachelors'] / df['education'].count() # here we count every value of Bachelors and divide by the total of education

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    # to run thiss first we create the mask for hi an lo and lo can be create as the negative of the hi mask with the ~ condition
    higher_education = df['education'].isin(['Masters','Bachelors','Doctorate'])
    lower_education = ~higher_education

    # percentage with salary >50K
    # the resuslt of the percentage is sthe sum of the true values of the massk with two conditions and * by 10
    # then it is * by the same mask added and all the line is rounded to 1 decimal 
    higher_education_rich = ((((df['salary'] =='>50K') & higher_education).sum()) * 100 / higher_education.sum()).round(1)
    lower_education_rich = ((((df['salary'] =='>50K') & lower_education).sum()) * 100 / lower_education.sum()).round(1)


    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    # we created a dataframe with two conditions and then sum all the resulting rows then / by the total of min hours
    # in the numminworkers i used the result of the min avlue inssst3e4ad of putting the value itself

    num_min_workers = (df['hours-per-week'] ==  min_work_hours ).sum()



    rich_percentage =(((df['hours-per-week'] == min_work_hours)) & (df['salary'] == '>50K' )).sum()  / (df['hours-per-week'] == min_work_hours ).sum()


    # What country has the highest percentage of people that earn >50K?
    # using mask we revelaed the >50k workers and then count every country worker and then extract the max value but with the index and not the value itself
    #I used the lamda funcion to use a condition to select the values that where equal to >50K
    # i used the same function witouh the max value index and i divideit by the total amount
    # then i found out that the result should be iran and that is beacuse i need to get the % of how many people out of the total sum of the people that earn :50k are in that population
    # imanaged to do that searching the solution and getting the .mean) out of the group by function and saving it into other variable to not complicate more things
    high_income_co = (df.groupby('native-country')['salary'].apply(lambda x: (x=='>50K').mean()))
    highest_earning_country = high_income_co.idxmax()
    highest_earning_country_percentage = highest_earning_country_percentage = (high_income_co.max() * 100).round(1)
    # Identify the most popular occupation for those who earn >50K in India.
    # I'm using a mask but witouh a variable instead i reffered the df and inside the [] i put the mask that i wanted to reveal outside the [] for the first df then i counted and return the max index str
    top_IN_occupation =  df[(df['salary'] == '>50K') & (df['native-country'] == 'India')].value_counts('occupation').idxmax()

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }